hmtl, body {
    min-width: 290px;

    background-color: #ffffff;
     line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Helvetica Neue', Arial, sans-serif;


        background-color: #ffffff;
        font-family: 'Open Sans', Arial, sans-serif;
}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/************ header  *****************/
.main-header{
    width: 100%;
    background-color: #EAF6F6;
    position:fixed;
    margin-left: 0;
    height: 70px;
    z-index: 3;
    top: 0;
}
.mylogo{
    height:70px;
}
/************ about me  *****************/
.aboutme{
  display:flex;
  flex-direction: column;
}
.automation-pic{
   text-align: center;
   width: 100%;
   height: 100vh;
   opacity: 0.55;
position: absolute;
z-index: -1;
}
.intro-container{
  top: 30rem;
   font-size: large;
   font-weight: bold;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: blue;
   }
.mypicture{
  width: 10%;
  height: 10%;
  margin-top: 8rem;
  margin-bottom: 2rem;
}
.intro{
  padding:0 5rem;
}
/************ resume.html *****************/
h2{
font-size: 50px;
text-align: center;
}
#work{
  margin-top: 7rem;
  background-color: #EAF6F6;
}

.work-year{
     width: 5%;
     /* background-color: antiquewhite; */
     border: solid 2px black;
     text-align: left;
     align-items: center;

}
h3,h4,h5{
    padding:10px 0;
    text-align: center;
    color: blue;
}

h4{
    margin-bottom: 15px;
}

.work-history li{
    padding:0;
    margin-left: 20px;
    width: 100%;
}
.tr-header th{
    border: solid 2px royalblue;
    padding-bottom: 5px;
    block-size: 2px;
}
.year{
    margin-top: 90%;
}

tr{
    margin: 5px;
    border: solid 2px black;
}
/************ work summary *****************/
.summary{
    padding:0;
    margin:0;
    width: 100%;
    text-align: center;
}
.header-work,h3{
    padding-bottom:0;
    margin-bottom: 1px;
}

.skills{
     width: 250px;
    padding: 0 30px;
    background-color: #66BFBF;
}
.skills > h5{
    color: black;
    }
  .skills li{
    text-align: center;
    text-decoration: none;
    color: black;
    list-style: none;
  }
.row{
    padding:0 15px;
}
.row > .skills{
    padding:0 30px;
}
.row h5{
    font-size: medium;
}
/*********experience*********/
.experiences h3{
    text-align: left;
}
.experiences li{
    width: 100%;
    margin-left: 5px;

}
.experiences p{
    margin: 0 0 1px 5px;
}
.experiences{
    background-color:aquamarine;

}
.experience{
   padding-bottom: 10px;
}
.containers{
    margin:0;
}
.container {
    width: 100%;
    background-color: #ddd;
    padding: 0;
  }

  .plc {
    text-align: right;
     color: white;
    width: 80%;
  }
  .troubleshooting{
    text-align: right;
     color: white;
    width: 70%;
  }
  .inside-container{
     background-color: gainsboro;
     width: 100%;
  }
  .coding,.chinese{
    text-align: right;
     color: white;
    width: 30%;
  }
  .divider{
    margin-bottom: 1px;
  }
  .english{
    width: 90%;
  }
  .personal{
  margin: 5px 0 1px;
  padding-top: 25px;
  text-align: center;

}

.personal-ul{
    padding-left: 0;
}
/****project****/
#project{
    background-color: #8d66bf;
    padding:20px 5px;
    margin: 5px 5px;
    vertical-align: middle;
   
}
.d-block{
    width: 80%;
    height: 440px;
    padding: 5px 5px;
    margin-left: 10%;
  
}
.carousel-control-prev-icon{
    background-color:red;
    width: 5rem;
    height: 10rem;
    top: 50px;
}

.carousel-control-next-icon{
    background-color: red;
    width: 5rem;
    height: 10rem;
    top: 50px;

}



/****Footer****/
  .copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }
  .bottom-container {
    background-color: #66BFBF;
    padding: 20px 0 20px;
    text-align: center;

  }
 .contact-me{
    margin: 10px 20px;
    text-decoration: none;
 }
 /*************detail resume*****/
 hr{
    border: 0.5px solid #000;
    margin: 0;
 }
 #navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
    background-color:#EAF6F6 ;
 }
#main-doc{
    background-color: aquamarine;

    position: absolute;
    margin-left: 280px;
    border: 2px solid black;
    margin-bottom: 110px;
}
.main-section{
    margin:3px 10px 3px;

}

  .unit-header {
    color: black;
    margin: 10px 0 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: thin;
    padding: 10px 0 5px;
    margin: 10px 0 10px;

  }
  .main-unit{
    color:blue;
    text-align: center;
    font-size: 1.5em;
    font-weight: thin;
    margin: 15px;

  }
  .header{
    margin:1px 0 10px;
  }
  #main-doc header {
    text-align: left;
    margin: 0px;
  }
  #navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
  }
  #navbar a {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
  }

  section {
    color: #4d4e53;

    font-size: 0.96em;
  }


 .employment{
    text-align: left;
    font-size: large;
   margin-left: 0;
 }
 .resume ol {
    padding-left: 30px;
}
.resume ul{
    padding-left: 30px;
}

.resume p{
  margin-bottom: 0.3rem;
}

 .employment ul{

    font-size:15px;
    margin: 5px 0px 0px 10px;

 }
.main-section > h5{
    text-align: left;


}
.education{
     margin-left: 70px;
}
.education-sub{
    margin-left: 150px;
}
.education-subs{
    margin-left: 35px;
}
.seminar{
    margin-top: 5px;
}
.seminar > ul{
    margin-top: 5px;
    padding-left: 40px;
    color: blue;
}
.skill > ul{
    margin-top: 5px;
    padding-left: 40px;
    color: blue;

}
.skill > span{
    padding-top:15px;
}

.other > ul{
    margin-top: 5px;
    padding-left: 40px;
    color: blue;
}
.personal{
    padding-top: 5px;
}
.personal > ul{
    margin-top: 10px;
    color: blue;

    text-align: left;
    padding-left:60px;
}

.bold {
    font-size: 1.0rem;
    font-weight: bold;

   }
   .personal-right{

    margin-left: 0;

     text-align: left;

  }

  .character > ul{
   padding: 0 20px;
    color: blue;
    list-style: none;
    text-align: left;

}
.character-reference{
    padding: 5px 0;
     color: blue;
     list-style: none;
     text-align: left;

 }
 .character-sub{
         color:black;

 }
@media screen and (max-width: 500px) {

    .intro-container{
        font-size: small;
        top: 1px;
        margin-left: 2px;
        left: 2px;
        width: auto;
        height: auto;
    }
    .experiences ol{
      padding-left: 10px;

  }

  .skills> h4{
    font-size:medium;
    text-align: center;

  }
  .skills > h5{
    font-size: smaller;
    text-align: center;
    }
    .personal{
        font-size: small;
        text-align: center;
        }
        .personal-ul{
            font-size: smaller;
            text-align: center;
            }


.row > .skills{
padding: 0 1px;
text-align: center;

}

.main-unit,.personal{
  font-size: small;
  text-align: left;
}

#navbar a{
  padding: 5px;
  font-size: smaller;
}

.education{
 margin-left:1px;
 }
.education-sub{
 margin-left: 1px;

}
.education-subs{
 margin-left: 1px;
 bottom: -20px;
}

.seminar h6 {
  font-size: small;

}
#main-doc, header{
  width: 260px;
  font-size: smaller;
  margin-left: 1px;

}
.employment, h5, h6{
  font-size: small;

}
#main-doc{
  margin-left: 180px;
  width: auto;
}
.bold{
  font-size: small;
}
li{
  padding-left: 1px;
  margin-left: 2px;
}
.personal p{
  margin-bottom: 0.3rem;
}
.d-block{
  margin-left: 15%;
 width: 70%;
 height: fit-content;

}
.carousel-item{
  width: 250px;
}
#project{
  background-color: #8d66bf;
  vertical-align: middle;
}
}
@media screen and (max-width: 900px) {

   body{
    font-size: medium;
   }
   .main-section  ul{
    padding-left: 5px;
    margin-left: 5px;
   }
   .main-section  ol{
    padding-left: 5px;
    margin-left: 5px;
   }
}
